body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #623DEE; /* light purple background */
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Montserrat font */
    font-weight: bold;
    color: #ffffff; /* white color */
    padding-top: 20px; /* Add space between title and buttons */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 15px 30px; /* increased padding for larger button size */
    margin: 0;
    border: none;
    background-color: #ffffff; /* white background */
    color: #333333; /* black text */
    font-size: 18px; /* increased font size */
    cursor: pointer;
    position: relative; /* needed for positioning pseudo-element */
    font-family: 'Montserrat', sans-serif; /* Montserrat font */
}

button:first-child {
    border-top-left-radius: 20px; /* curve the top-left corner */
    border-bottom-left-radius: 20px; /* curve the bottom-left corner */
    margin-right: 5px; /* small gap between the first and second button */
}

button:last-child {
    border-top-right-radius: 20px; /* curve the top-right corner */
    border-bottom-right-radius: 20px; /* curve the bottom-right corner */
}

button::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1px; /* position the separator line to the right of the button */
    height: 80%; /* adjust the height of the separator line */
    width: 1px; /* thickness of the separator line */
    background-color: #999999; /* color of the separator line */
}

button:last-child::after {
    display: none; /* hide separator line after the last button */
}

button:hover {
    background-color: #cccccc; /* light gray background on hover */
}
